/* .data {
    text-align: left;
    padding-left: 10px;
    width: 150px;
}
*/

.padding {
    margin: 10px;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 5px 14px;
}
/* .flex-column{
    width: 128px;
} */

.col-sm-3 {
    width: 18%;
}

.col-sm-9 {
    width: 82%;
}

#primary{
    width: 200px;
}