<div class="container" style="text-align:center">
    <!-- <nav>
    <a class="btn .btn-primary" routerLink="/home" routerLinkActive="active">Home</a>
    <a class="btn .btn-primary" routerLink="/department" routerLinkActive="active">Department</a>
    <a class="btn .btn-primary" routerLink="/employee" routerLinkActive="active">Employee</a>
    <a class="btn .btn-primary" routerLink="/login" routerLinkActive="active">ShowDetails</a>
    <a class="btn .btn-primary" routerLink="/register" routerLinkActive="active">Register</a>
    <a class="btn .btn-primary" routerLink="/nav" routerLinkActive="active">Details</a>
  </nav> -->
    <router-outlet></router-outlet>
</div>