<div class="container-fluid">
    <form class="form-signin" #userForm="ngForm" (ngSubmit)="forgetpassword(userForm.value)">
        <h3 class="form-signin-heading">Recover your Account Using Email</h3>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" #emailRef="ngModel" required class="form-control" name="email" ngModel placeholder="Email">
        <div *ngIf="emailRef.errors && (emailRef.dirty || emailRef.touched)" class="alert alert-danger">
            <div [hidden]="!emailRef.errors.required">
                Plase Enter Your Email Id
            </div>
        </div>
        <div class="padding"></div>
        <button [disabled]="!userForm.form.valid" type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>
    </form>
    <div class="login">
        <a [routerLink]="['/login']">Back to Login</a>
    </div>
</div>