/* .data {
    text-align: left;
    padding-left: 10px;
    width: 150px;
}
*/

.padding {
    margin: 20px;
}
.badge{
    font-size: 20px;
}
.font{
    padding: 10px;
    margin: 10px;
    color: black;
   text-align: left;
}